*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

/* header */
.bar-nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: fixed;
    z-index: 999;
}

.dx {
    width: 30%;
    height: 80px;
    float: left;
}

.sx {
    width: 70%;
    height: 80px;
    float: right;
    text-align: right;
}

.nav li {
    display: inline;
    line-height: 80px;
    padding: 15px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav img {
    vertical-align: middle;
}

#special-botton {
    background-color: #0061ff;
    color: white;
    padding: 6px 15px;
}
/* fine header */

/* main */

/* prima section  */

.jumbo {
    height: 800px;
    width: 100%;
    background-color: #b4d0e7;
    padding-top: 150px;
}

.w-90 {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.title {
    height: 200px; 
    padding-top: 50px;
    padding-left: 50px;
}

h1 {
    font-size: 75px;
    line-height: 90px;
}

.pay-off {
    height: 600px;
    width: 30%;
    float: left;
    display: inline;
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 50px;
}

.pay-off p {
    line-height: 25px;
}

.jumbo-box {
    height: 600px;
    width: 70%;
    float: left;
    display: inline;
    text-align: center;
}

.jumbo-box img {
    height: 100%;
}

.special-botton {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
}

.prova-gratuita {
    margin-top: 30px;
}

.annulla {
    margin-top: 30px;
}

.fa-arrow-down {
    margin-top: 30px;
    font-size: 40px;
}

/* fine prima section  */
/* ------------------------------------------------------------------------------------------ */
/* seconda section  */

.w-80 {
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
}

h2 {
    font-size: 50px;
}

.scelta {
    margin-top: 50px;
}

label {
    font-size: 20px;
    padding: 0 10px;
}

.colonne {
    width: 100%;
    margin-top: 50px;
    height: 200px;
}

.colonna {
    width: 30%;
    height: 1400px;
    border: 1px solid grey;
    float: left;
    font-size: 20px;
}

.cen {
    margin-left: 5%;
}

.destra {
    float: right;
}

.far {
    padding-right: 15px;
    font-size: 20px;
}

.icone {
    line-height: 50px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.conte-col {
    width: 100%;
    padding: 40px;
}

.prezzo {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}

.grey {
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}

.utente {
    margin-top: 100px;
}

.utente .fa-user {
    font-size: 15px;
}

.fas {
    font-size: 15px;
    margin-right: 15px;
}

.tb, .matita {
    margin-top: 30px;
    line-height: 35px;
}

.gratis {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.acquista {
    margin-top: 50px;
}

.acquista a {
    text-decoration: none;
    color: #0061ff;
}

hr {
    margin-top: 50px;
    width: 100px;
    color: grey;
}

.salienti {
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
}

.fa-check {
    color: #0061ff ;
}

.punti li {
    list-style-type: none;
    margin-top: 50px;
}

.col-2 {
    width: 100%;
    height: 300px;
    border: 1px solid grey;
    display: inline-block;
    margin-top: 50px;
    position: relative;
}


.conte {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.conte h3 {
    font-size: 25px;
}

.normale {
    margin-top: 60px;
}

.ufficio a {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center; 
    text-decoration: none;   
}

/* fine seconda section  */
/* ----------------------------------------------------------------------------------------- */
/*  terza section  */

.wid {
    width: 80%;
    height: 700px;
    margin: 0 auto;
    margin-top: 500px;
}

.partner {
    float: left;
    height: 100%;
    width: 50%;    
}

.fot-par {
    height: 100%;
    width: 100%; 
}


.fot-par {
    height: 100%;
    width: 100%;
    background-image: url(../img/partner.png);
    background-size: cover;
}

.flotdx {
    float: left;
    height: 100%;
    width: 50%;
}

.spot {
    width: 100%;
    height: 100%;
    padding: 100px;
}

.entra {
    font-size: 25px;
}

.trova {
    margin-top: 50px;
    font-size: 20px;
    line-height: 35px;
}

.trova-partner {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.trova-partner a {
    color: black;
}
/* fine terza section  */
/* ---------------------------------------------------------------------------------------- */
/* quarta section  */

.quarta {
    width: 80%;
    margin: 0 auto;
    margin-top: 150px;
}

.box-container {
    height: 100%;
    width: 100%;
}

.immagini {
    width: calc(100% / 3);
    display: inline-block;
    float: left;
    padding-top: 50px;
}

.fotobox {
    height: 50%;
    text-align: center;
}

.immagini img {
    height: 300px;
}

.passa {
    margin-top: 50px;
    font-size: 25px;
}
.porta {
    line-height: 25px;
    font-size: 18px;
    margin-top: 50px;
    padding-right: 50px;
}

.team {
    margin-top: 250px;
}

.scopriblu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.scopriblu a {
    color: cornflowerblue;
    text-decoration: underline;
}

/* fine quarta section  */
/* ----------------------------------------------------------------------------------------- */
/* quinta section */

.quinta {
    height: 800px;
    width: 80%;
    margin: 0 auto;
    background-color: #b4d0e7;
}

.wrap {
    height: 500px;
    margin: 0 auto;
}

.loghi {
    background-color: cornsilk;
    height: 100%;
    width: 30%;
    display: inline;
    float: left;  
    position: relative;
}

.designit {
    background-color: #f5f5f5;
    height: 100%;
    width: 40%;
    display: inline;
    float: left;  
    padding: 50px;
}

.logodesign {
    width: 100%;
    height: 20%;
}

.logodesign img {
    height: 70%;
}

.bordocorto {
    width: 80px;
}

.membri, .tomas {
    padding-top: 50px;
}


.alt-sx {
    width: 50%;
    height: 50%;
    background-color: #a2d39b;
    position: absolute;
}

.alt-dx {
    width: 50%;
    height: 50%;
    background-color: #61082b;
    position: absolute;
    top:0;
    right: 0;
}

.bas-sx {
    width: 50%;
    height: 50%;
    background-color: #0093ce;
    position: absolute;
    left: 0;
    bottom: 0;
}

.bas-dx {
    width: 50%;
    height: 50%;
    background-color: #ff1c1c;
    position: absolute;
    right: 0;
    bottom: 0;
}

.diviso {
    padding: 50px;
    margin-top: 0 auto;
    text-align: center;
}

.diviso img {
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.destri .alt-sx {
    background-color: #d5001f;
}

.destri .alt-dx {
    background-color: #b4d0e7;
}

.destri .bas-sx {
    background-color: #0d2481;
}

.destri .bas-dx {
    background-color: #ffd830;
}

.business {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.busi {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.portadp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 25px;
    color: #61082B;
}

.uno {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.due {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
}

.inizia a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    width: 250px;
    text-align: center;
    text-decoration: none;
    padding: 6px;
}
/* fine quinta section */
/* ---------------------------------------------------------------------------------- */
 /* inzio sesta section */

.domande {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    /* background-color: blue; */
}

.faq {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
    
    /* background-color: blueviolet; */
}

.faq h3 {
    font-size: 25px;
    padding-bottom: 50px;
}

.differenza {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px 0;
    font-weight: bold; 
}

.differenza .fa-check {
    color: black;
    float: right;
}
 /* fine sesta section */

/* fine main */

/* footer */

.footer {
    height: 500px;
    width: 100%;
    margin-top: 150px ;
    background-color:black;
    position: relative;
}

#contfooter {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.dropboxx, .prodoct, .azienda, .supporto, .community {
    float: left;
    width: calc(100% / 5);
    position: relative;
    height: 400px;
}

#navigazione {
    position:absolute;
    width: 100%;
    padding: 100px;
}

#navigazione li{
    line-height: 40px;
    text-decoration: none;
    list-style: none;
}

li a {
    color: white;
}

.gra a {
    color: white;
    font-weight: bold;
}

#mondo {
    width: 100%;
    height: 100px;
    bottom: 0px;
    margin: 0 auto;
    position: absolute;
}
.mondo {
    position: absolute;
    border-top: 1px solid white;
    padding-top: 20px;
    margin-left: 100px;
    color: white;
}

.fa-caret-up {
    margin-left: 5px;
}











/* fine footer */


