*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/* header */
.bar-nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid lightgray;
}

.dx {
    width: 30%;
    height: 80px;
    float: left;
}

.sx {
    width: 70%;
    height: 80px;
    float: right;
    text-align: right;
}

.nav li {
    display: inline;
    line-height: 80px;
    padding: 15px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav img {
    vertical-align: middle;
}

#special-botton {
    background-color: #0061ff;
    color: white;
    padding: 6px 15px;
}
/* fine header */

/* main */

/* prima section  */

.jumbo {
    height: 800px;
    width: 100%;
    background-color: #b4d0e7;
}

.w-90 {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.title {
    height: 200px; 
    padding-top: 20px;
    padding-left: 50px;
    /* background-color: magenta; */
}

h1 {
    font-size: 75px;
    line-height: 90px;
    /* letter-spacing: 2px;
    word-spacing: 20px; */
}

.pay-off {
    height: 600px;
    width: 30%;
    float: left;
    display: inline;
    margin-top: 30px;
    padding-top: 50px;
    padding-left: 50px;
    /* background-color: maroon; */
}

.jumbo-box {
    height: 600px;
    width: 70%;
    float: left;
    display: inline;
    margin-top: 30px;
    text-align: center;
    /* background-color:mediumorchid */
}

.jumbo-box img {
    height: 100%;
    margin-top: 50px;
}

.special-botton {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
}

.prova-gratuita {
    margin-top: 30px;
}

.annulla {
    margin-top: 30px;
}

.fa-arrow-down {
    margin-top: 30px;
    font-size: 40px;
}

/* fine prima section  */
/* ------------------------------------------------------------------------------------------ */
/* seconda section  */

.w-80 {
    width: 80%;
    margin: 0 auto;
    padding-top: 200px;
}

h2 {
    font-size: 50px;
}

.scelta {
    margin-top: 50px;
}

label {
    font-size: 20px;
    padding: 0 10px;
}

.colonne {
    width: 100%;
    margin-top: 50px;
    /* background-color: midnightblue; */
    height: 200px;
}

.colonna {
    width: 30%;
    height: 1400px;
    /* background-color: olive; */
    border: 1px solid grey;
    float: left;
    font-size: 20px;
}

.sinistra {
  
}

.cen {
    margin-left: 5%;
}

.destra {
    float: right;
}

.far {
    padding-right: 15px;
    font-size: 20px;
}

.icone {
    line-height: 50px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.conte-col {
    width: 100%;
    padding: 40px;
}

.prezzo {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}

.grey {
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}

.utente {
    margin-top: 100px;
}

.utente .fa-user {
    font-size: 15px;
}

.fas {
    font-size: 15px;
    margin-right: 15px;
}

.tb, .matita {
    margin-top: 30px;
}

.gratis {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.acquista {
    margin-top: 50px;
    /* border-bottom: 1px solid grey; */
}

.acquista a {
    text-decoration: none;
    color: #0061ff;
}

hr {
    margin-top: 50px;
    width: 100px;
    color: grey;
}

.salienti {
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
}

.fa-check {
    color: #0061ff ;
}

.punti li {
    list-style-type: none;
    margin-top: 50px;
}

.col-2 {
    width: 100%;
    height: 300px;
    /* background-color: olive; */
    border: 1px solid grey;
    display: inline-block;
    margin-top: 50px;
    position: relative;
}


.conte {
    width: 100%;
    height: 100%;
    /* background-color: hotpink; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.conte h3 {
    font-size: 25px;
}

.normale {
    margin-top: 60px;
}

.ufficio a {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center; 
    text-decoration: none;   
}




/* fine seconda section  */


/* fine main */

