*{
margin: 0; 
padding: 0; 
box-sizing: border-box; 
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/* common */
.clearfix {
    content: "";
    display: table;
    clear: both;
}

#w100 {
    width: 100%;
    margin: 0 auto;
}

#w80 {
    width: 80%;
    margin: 0 auto;
}

#w70 {
    width: 70%;
    margin: 0 auto;
}

/* fine common */

/* header */
.bar-nav {
    width: 100%;
    height: 80px;
    /* height: 180px; */
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: fixed;
    z-index: 999;
}

.dx {
    float: left;
}

.sx {
    float: right;
}

.nav li {
    display: inline;
    line-height: 80px;
    padding: 15px;
}

.nav li a {
    text-decoration: none;
    color: black;
}

.nav li a:hover {
   border-bottom: 2px solid #000000;
   padding-bottom: 30px;
}

.sx ul {
    display: inline-block;
}

.davide li {
    display: none;
}

.davide ul li:hover li {
    display: block;
    background-color: #61082b;
    border-bottom: 2px solid #000000;
    padding-bottom: 30px;
    color: black;
 }

/* .sx ul li ul {
    display: inline-block;
    display: none;
} */

/* .sx ul li:hover {background: #555;} */

/* .sx ul li:hover ul {display: block;} */

/* .sx nav ul li a ul li {
    display: block;
} */

 










.nav img {
    vertical-align: middle;
}

#special-botton {
    background-color: #0061ff;
    color: white;
    padding: 6px 15px;
}
/* fine header */

/* main */

/* prima section  */

.jumbo {
    height: 800px;
    width: 100%;
    background-color: #b4d0e7;
}

.title {
    padding-top: 100px;
    font-size: 55px;
    line-height: 90px;
}

.pay-off {
    height: 600px;
    max-width: 30%;
    float: left;
    padding-top: 50px;
    line-height: 25px;
}

.jumbo-box {
    height: 600px;
    max-width: 70%;
    float: right;
    padding-top: 50px;
    text-align: right;
}

.jumbo-box img {
    max-height: 100%;
}

.special-botton {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
    margin-top: 30px;
}

.annulla {
    margin-top: 30px;
}

.pay-off i {
    font-size: 40px;
    color: white;
    margin-top: 30px;
}

/* fine prima section  */
/* ------------------------------------------------------------------------------------------ */
/* seconda section  */

.titolo-dropbox h2 {
    font-size: 50px;
    padding-top: 100px;
}

.scelta {
    margin-top: 50px;
}

label {
    font-size: 20px;
    padding: 0 10px;
}

.colonne {
    width: 100%;
    margin-top: 50px;
}

.colonna {
    width: 30%;
    min-height: 1200px;
    border: 1px solid grey;
    float: left;
    font-size: 20px;
}

.cen {
    margin: 0 5%;
}

.icone {
    line-height: 50px;
    border-bottom: 1px solid grey;
    text-align: center;
}

.conte-col {
    width: 100%;
    min-height: 1200px;
    padding: 40px;
}

.prezzo {
    margin-top: 15px;
    font-weight: bold;
    font-size: 18px;
}

.grey {
    margin-top: 15px;
    font-size: 15px;
    color: grey;
}

.fa-li {
    margin-left: -20px;
}

.fa-ul li {  
    list-style-type: none;
    margin-top: 40px;
}

.byte {
    margin-top: 30px;
    width: 100%;
    position: relative;
}

.byte i {
    width: 10%;
    display: inline-block;
    float: left;
}

.tb, .matita, .utente {
    float: left;
    display: inline-block;
    width: 90%;
}

.gratis {
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}  

a {
    text-decoration: none;
    color: white;
}

.acquista {
    margin-top: 50px;
}

.acquista a {
    text-decoration: none;
    color: #0061ff;
    margin-top: 50px;
}

hr {
    margin-top: 50px;
    width: 100px;
    color: grey;
}

.salienti {
    margin-top: 80px;
    font-weight: bold;
    font-size: 18px;
}

.fa-check {
    color: #0061ff ;
}
/* ------------------------------ */
.col-2 {
    width: 100%;
    height: 300px;
    border: 1px solid grey;
    display: inline-block;
    margin-top: 50px;
    position: relative;
}

.conte {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.conte h3 {
    font-size: 25px;
}

.normale {
    margin-top: 60px;
}

.ufficio a {
    position: absolute;
    top: 100px;
    right: 50px;
    background-color: #0061ff;
    color: white;
    width: 250px;
    padding: 6px;
    text-align: center; 
    text-decoration: none;   
}

/* fine seconda section  */
/* ----------------------------------------------------------------------------------------- */
/*  terza section  */

.wid {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
}

.partner {
    float: left;
    height: 100%;
    width: 50%;    
}

.fot-par {
    height: 100%;
    width: 100%; 
}

.fot-par {
    height: 100%;
    width: 100%;
    background-image: url(../img/partner.png);
    background-size: cover;
}

.flotdx {
    float: left;
    height: 100%;
    width: 50%;
}

.spot {
    width: 100%;
    height: 100%;
    padding: 100px;
}

.entra {
    font-size: 25px;
}

.trova {
    margin-top: 50px;
    font-size: 20px;
    line-height: 35px;
}

.trova-partner {
    border: 1px solid black;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
}

.trova-partner a {
    color: black;
}

/* fine terza section  */
/* ---------------------------------------------------------------------------------------- */
/* quarta section  */

.box-container {
    height: 100%;
    width: 100%;
}

.immagini {
    width: calc(100% / 3);  
    float: left;
    padding-top: 50px;
}

.fotobox {
    height: 50%;
    text-align: center;
}

.immagini img {
    height: 300px;
}

.passa {
    margin-top: 50px;
    font-size: 25px;
}
.porta {
    line-height: 25px;
    font-size: 18px;
    margin-top: 50px;
    padding-right: 50px;
}

.team {
    margin-top: 100px;
}

.scopriblu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.scopriblu a {
    color: cornflowerblue;
    text-decoration: underline;
}

/* fine quarta section  */
/* ----------------------------------------------------------------------------------------- */
/* quinta section */

.contenitori {
    width: 100%;
    height: 700px;
}

.loghi {
    width: calc(100% / 3);
    height: 100%;
    float: left;
}

.laterale {
    width: 30%;  
}

.centrale {
    background-color: #f5f5f5;
    width: 40%;
    height: 30vw;
    padding: 50px;
    overflow-y: auto;
}

.centrale img {
    width: 10vw;
    height: 10vw;
}

.membri, .tomas {
    padding-top: 50px;
}

.diviso {
    float: left;
    width: 15vw;
    height: 15vw;
    position: relative;
}

.diviso img {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1); 
    width: 70%;  
}

.sinistri-alt-sx {
    background-color: #a2d39b;
    border: 30px solid #d0e9cd;
    padding: 10px;
}

.sinistri-alt-dx {
    background-color: #61082b;
}

.sinistri-bas-sx {
    background-color: #0093ce;
}

.sinistri-bas-dx {
    background-color: #ff1c1c;
}

.destri-alt-sx {
    background-color: #d5001f;
}

.destri-alt-dx {
    background-color: #b4d0e7;
}

.destri-bas-sx {
    background-color: #0d2481;
}

.destri-bas-dx {
    background-color: #ffd830;
}

/* fine quinta section */
/* ---------------------------------------------------------------------------------- */
 /* inzio sesta section */

.domande {
    width: 80%;
    height: 500px;
    margin: 0 auto;
}

.faq {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding-top: 100px;
}

.faq h3 {
    font-size: 25px;
    padding-bottom: 50px;
}

.differenza {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 30px 0;
    font-weight: bold; 
}

.differenza .fa-check {
    color: black;
    float: right;
}
 /* fine sesta section */

/* fine main */

/* footer */

.footer {
    height: 500px;
    width: 100%;
    background-color:black;
    position: relative;
    margin-top: 100px;
}

.dropboxx, .prodoct, .azienda, .supporto, .community {
    float: left;
    width: calc(100% / 5);
    height: 400px;   
    padding-top: 100px;
}

#navigazione {
    position:absolute;
    width: 100%;
}

#navigazione li{
    line-height: 40px;
    text-decoration: none;
    list-style: none;
}

li a {
    color: white;
}

.gra a {
    color: white;
    font-weight: bold;
}

#mondo {
    width: 100%;
    height: 100px;
    bottom: 0px;
    margin: 0 auto;
    position: absolute;
}
.mondo {
    position: absolute;
    border-top: 1px solid white;
    padding-top: 20px;
    color: white;
}

.fa-caret-up {
    margin-left: 5px;
}

/* fine footer */


